body {
  font-size: 16px;
}

.mb15 {
  margin-bottom: 15px !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

#header {
  padding: 30px 0;
}

#header .logo {
  display: inline-block;
}

#header .logo a {
  display: inline-block;
  vertical-align: top;
}

#search-input {
  display: inline-block;
  width: 400px;
  height: 50px;
  font-size: 20px;
  float: right;
  margin-top: 22px;
  border-radius: 8px;
  padding: 20px;
}

#search .package.match {
  font-weight: bold;
}

.bottom {
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
}

code {
  padding: 2px 4px;
  font-size: 95%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

img {
  vertical-align: middle;
}

pre {
  margin-bottom: 20px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  margin-top: 30px;
  padding: 10px 20px;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.ant-table {
  font-size: 14px;
}

.ant-alert {
  font-size: 14px !important;
  padding: 15px;
}
