<style>
#private .package {
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

#private .alert a {
  font-size: 20px;
}

</style>
<div id="private">
  <% for (var scope in scopes) {
    var packages = scopes[scope];
  %>
    <h1>
      Private packages in <%= scope %>(total: <%= packages.length %>)
    </h1>
    <hr />
    <% if (!packages.length) { %>
    <div class="alert alert-warning">
      Can not found private package
    </div>
    <% } else {%>
      <% for (var i = 0; i < packages.length; i++) {
        var item = packages[i];
      %>
      <div class="package">
        <a href="/package/<%= item.name %>" class="package-name"><%= item.name %></a>
        <span class="package-description"><%= item.description %></span>
      </div>
      <% } %>
    <% } %>
  <% } %>
</div>
